body {
	margin: 0;
	padding: 0;
	font-family: helvetica;
	font-size: 9pt;
}

a, a:visited {
	text-decoration: none;
	background: transparent;
	color: #333;
	border-radius: 3px;
	font-weight: bold;
}

a:hover {
	color: black;
}

img, input[type="image"] { vertical-align: middle; }
/* hide the main scrollbar */
#body { overflow: hidden; }

#update_body_char_count {
	background: white;
	padding: 2px;
	color: black;
	-webkit-border-radius: 2px
}

#update_body_char_count.warning { 
	color: red; 
}

#overlay {
	position: absolute;
	z-index: 9;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
}

#mediaView {
	z-index: 19;
	position: fixed;
	top: 100px;
	bottom: 20px;
	width: 60%;
	left: 35%;
	background: white;
	padding: 1em;
	padding-top: 40px;
	-webkit-box-shadow: 0px 0px 30px black;
	right: 10%;
}

#mediaView .actions { 
	text-align: right;  
	margin-top: -32px;
}
#mediaView .actions a:hover { 
	background: none;
}

#mediaView .contents {
	overflow: auto;
	width: 100%;
	height: 100%;
	text-align: center;
}
#mediaView .picture_viewer img { width: 100%; }

#mediaView .contents p { text-align: left; padding: 1em }

#offline { display: none;}
/* login form formatting */
#login_form, #preferences, #offline, #followedWindow, #subscribedWindow {
	background: #fff;
	border: 2px solid black;
	padding-top: 3em;

	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	min-height: 33%;

	z-index: 10;

	text-align: center;
	vertical-align: middle;
}

#login_form .lcol {
	float: left;
	width: 40%;
}

#login_form .rcol {
	float: left;
	width: 60%;
}

#login_form p.message {
	text-align: center; 
	margin: 10px auto;
	width: 100px;
	background: url(assets/attention_icon_16.png) left top no-repeat;
}

#preferences {
	width: 500px;
}

#preferences h1, #followedWindow h1 {
	margin-top: -20px;
}

#preferences h3 {
	font-size: 14px;
	font-weight: normal;
	margin-top: -20px;
	letter-spacing: 2px;
}

#preferences fieldset {
	margin: 3px 0;
	border: none;
	border-top: 1px solid #CCC;
}
#preferences fieldset legend {
	margin: 3px 0;
	padding: 2px;
	background: transparent;
	font-size: 12px;
	font-weight: bold;
}

#preferences fieldset div {
	margin-bottom: 1px;
	padding: 0;
	display: block;
	width: 100%;
}
#preferences fieldset label {
	float: left;
	width: 150px;
	padding: 0 3px;
	text-align: right;
}

#preferences fieldset input[type="checkbox"] {
	float: left;
	margin: 3px 3px 3px 10px;
}

#preferences .sidebar_close, #followedWindow .sidebar_close, #subscribedWindow .sidebar_close {
	position: absolute;
	top: 5px;
	right: 5px;
	background: white;
}

#followedWindow li, #subscribedWindow li {
	padding: 5px;
}

#throbber {
	display: none;
	padding: 5px;
	background: white;
	border-radius: 5px;
}
#throbber img {
	display: inline
}

#controls_container {
	/* old */
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.2, rgb(0, 0, 0)),
		color-stop(0.8, rgb(54, 54, 54))
		);
	/* new */
	background-image: -webkit-linear-gradient( rgb(54,54,54) 20%, #1F1F1F 80%);
	color: white;

	padding: 10px 0 0 0;
	margin: 0;

	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	left: 0;
	z-index: 20;
}

#toolbar span {
	margin-right: 20px;
}
#toolbar span a, #toolbar span input {
	margin: 0 2px 0 2px;
}
#controls {
	margin: 0 10px 10px 10px;
	width: 100%;
}

#controls_container form .main {
	margin: 0 30px 0 0;
}

#toolbar {
	margin: -5px 0 0 5px;
}
#controls_container form .toolbox {
	float: right;
	margin-right: 20px;
}

#controls_container form .toolbox  input {
	display: inline;
}

#single_column_toolbar { display: none }

#timeline .DirectedMessage, #timeline .PrivateMessage, #timeline .Notice {
	display: none;
}

.SingleColumnMode .column0 .DirectedMessage, .SingleColumnMode .column0 .PrivateMessage , .SingleColumnMode  #timeline .Notice {
	display: block !important;
}

.SingleColumnMode .viewport { margin-left: 0 !important; }
.SingleColumnMode .viewport .content { width: 100%; }
.SingleColumnMode .viewport h3 { width: 100% !important; }
.SingleColumnMode .column1 { display: none}
.SingleColumnMode .column2 { display: none}
.SingleColumnMode .column3 { display: none}
.SingleColumnMode .sidebar { width: 80%; left: 10%; }
#mediaView.SingleColumnMode { width: 90%; left: 2%; }

#controls_container a { color: white; }

#controls_container .sidebar_close {
	border-radius: 50px;
	background: white !important;
	z-index: 8;
	display: none;
}

#controls .sidebar_close img {
	vertical-align: middle;
}
#yourFace {
	float: left;
}
#yourFace img {
	border: 1px solid white;
}

#update_form {
	margin-left: 63px;
	margin-right: 10px;
}
#update_form ul, li {
	list-style: none;
	display: inline;
	padding: 0;
}
#update_form textarea {
	width: 100%;
	height: 44px;
	padding: 4px;
	font-size: 13px;
	line-height: 18px;
	color: #333;
	border: 1px solid #cccccc;	
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	resize: none;
}

#update_form input[type="file"] > * {
	white-space: normal;
}
#update_form input[type="file"]::-webkit-file-upload-button {
	white-space: normal;
}

/* blip timeline */
.viewport {
	/* hm */
}
.viewport .content {
	border: 1px solid #777;
	overflow-y: scroll;
	overflow-x: hidden;
	z-index: 0;
	background: #fff;

	position: absolute;
	top: 30px;
	bottom: 90px;
	width: 33%;

	background: #fff;
}

.viewport .first {
	width: 34%;
}

#loadingDiv {
	position: absolute;
	bottom: 100px;
	padding: 10px;
	background-color: white;
	color: black;
	left: 20px;
	display: none;
	z-index: 9999;
}

#cnt {
	background: #1F1F1F;
	margin:0 auto;
	position: fixed;
	top: 90px;
	bottom: 0;
	left: 0;

	width: 100%;
	height: 100%;
}
#cnt h3 {
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.2, #1F1F1F),
		color-stop(0.8, rgb(54, 54, 54))
		);
	background-image: -webkit-linear-gradient( #363636 20%, #1F1F1F 80%);
	text-shadow: #333 1px 1px 3px;
	color: white;

	position: absolute;
	margin: 0px;
	padding: 8px 0 8px 0;
	text-align: center;
	width: 33%;
}

#cnt h3.first {
	width: 34%
}

div.column0 { margin-left: 0; }
div.column1 { margin-left: 34%; }
div.column2 { margin-left: 67%; }

.sidebar {
	display: none; /* init */
	position: fixed;
	top: 100px;
	left: 10px;

	width: 30%;
	bottom: 20px;
	border: 1px white solid;
	z-index: 5;
	background: #ccc;
	padding: 1em;
	-webkit-box-shadow: 0 0 5px #444;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.2, #1F1F1F),
		color-stop(0.8, rgb(54, 54, 54))
		);
	/* new */
	background-image: -webkit-linear-gradient( rgb(54,54,54) 50%, #1F1F1F 80%);
}
.sidebar .heading {
	background: white;
	padding: 10px;
}

.sidebar .content {
	overflow: auto;
	height: 100%;
}
.sidebar .sidebar_close, #controls_container .sidebar_close {
	position: absolute;
	top: -13px;
	right: -13px;
	background: white;
	border-radius: 54px;
}
.sidebar .sidebar_close:hover , #controls_container .sidebar_close {
	background: transparent;
}
.PrivateMessage .meta, .DirectedMessage .meta{
	background-repeat: no-repeat;
	background-position: 0 0;
	padding-left: 20px;
}
.Notice .created_at a {
	font-weight: normal;
}
.Notice .created_at {
	display: inline;
	float: none;
}
button img {
	vertical-align: middle;
}

/* awesome scrollbar
 * taken from:
 * http://jsfiddle.net/laukstein/C9s3P/
 * and adapted by me
*/
::-webkit-scrollbar{
	width:0.8em;
	height:0.8em;
	background-color:#eee;
}
::-webkit-scrollbar:hover{
	background-color:#aaa;
}
::-webkit-resizer{
	-webkit-border-radius:4px;
	background-color:#666;
}
::-webkit-scrollbar-thumb{
	min-height:0.8em;
	min-width:0.8em;
	-webkit-border-radius:4px;
	background-color: #222;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #000;
}
::-webkit-scrollbar-thumb:active{
	background-color:#111;
}

#sidebar_user .avatar img, #sidebar_user .location img {
	border-radius: 10px;
}

/* link to different platforms */

/* chrome: */
.chrome { display: none; }
.desktop { display: block; }

/* desktop (titanium adds OS class to body */
.osx .desktop, .win32 .desktop, .linux .desktop { display: none ; }
.osx .chrome, .win32 .chrome, .linux .chrome { display: block; }

.osx #detach, .win32 #detach, .linux #detach { display: none }

.osx .viewport h3, .win32 .viewport h3, .linux .viewport h3 { color: black }