#cnt h3 {
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	color: #DEDEDE;
	background: none;
}
.viewport .content, .sidebar .content, .sidebar .heading {
	font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;
	background: none;
	background-color: #2B2B2B;
	border: none;
	border-left: 1px solid #1F1F1F;
	color: #DEDEDE;
}
.viewport .content {
	border-top: 1px solid #383838;
}
.viewport a , .sidebar a {
	color: #8DC7F1;
}
.viewport a:hover, .sidebar a:hover {
	text-decoration: underline;
}

/* single status formatting */
.blip {
	clear: both;
	border-bottom: 1px solid #383838;
	margin-bottom: 2px;
}
.blip h3 {
	position: absolute;
}

.blip .user, .blip .recipient {
	font-size: 110%;
	color: #DEDEDE;
}
.blip div {
	padding: 0.3em;
}

.blip .avatar_box {
	width: 60px;
	display: table-cell;
	text-align: center;
}
.blip .avatar_box .recipient_avatar {
	float: left;
	display: block;
	margin: -21px 32px 0 0;
	width: 32px;
	height: 32px;
}
.avatar_box img {
	border: 1px solid white;
	box-shadow: 1px 1px 5px #1F1F1F;
}
.blip .body {
	display: table-cell;
	vertical-align: top;
	line-height: 1.4em
}
.blip .body .pic input[type="image"] {
	max-width: 50%;
	box-shadow: 1px 1px 5px #1F1F1F;
	border-radius: 2px;
	margin: 1em auto;
	display: block;

}
.blip .body .location {
	display: inline;
}
.blip .body .location input[type="image"] {
	display: inline;
	vertical-align: middle;
	padding: 5px;
}
.blip .side{
	vertical-align: top;
	text-align: right;
	padding: 0;
	font-size: 90%;
}
.blip .side .actions {
	display: inline;
	vertical-align: top;
}
.blip .side .meta {
	display: inline;
	vertical-align: bottom;
	font-size: 80%;
}
.blip .side a {
	font-weight: normal;
}
.blip .created_at {
	display: block;
	float: left;
	margin-left: 5px;
}
.blip .created_at a {
	color: #DEDEDE;
}

.blip .actions input {
	width: 14px;
	height: 14px;
	border: none;
}
#quote {
	background: url('../quote_white_14.png') center center no-repeat;
}
#quoteMessage {
	background: url('../message_quote_white_14.png') center center no-repeat;
}
#message {
	background: url('../directed_white_15.png') center center no-repeat;
}
#delete {
	background: url('../remove_white_16.png') center center no-repeat;
}
#like {
	background: url('../heart_empty_white_14.png') center center no-repeat;
}
.DirectedMessage .meta {
	background-image: url(../directed_white_15.png);
}
.PrivateMessage .meta {
	background-image: url(../private_closed_white_16.png);
}


::-webkit-scrollbar{
	width:0.8em;
	height:0.8em;
	background-color: #2B2B2B;
}
::-webkit-scrollbar-thumb{
	min-height:0.8em;
	min-width:0.8em;
	-webkit-border-radius:2px;
	background-color: #404040;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #404040;
}
::-webkit-scrollbar-thumb:active{
	background-color: #404040;
}
