<div class="blip {{type}}" data-type="{{type}}" data-user="{{user}}" data-blipid="{{id}}" >
  <div class="main">
    <div class="avatar_box">
      {{#user_avatar_url}}
      <span class="user_avatar">
        <a data-action="user" data-username="{{username}}" class="user" href="http://blip.pl/users/{{username}}/dashboard">
          <img data-action="user" data-username="{{username}}" width="50px" height="50px" alt="Avatar {{username}}" src="{{user_avatar_url}}" />
        </a>
      </span>
      {{/user_avatar_url}}
    </div>
    <div class="body">
      <span class="user">
        <a data-action="user" data-username="{{username}}" class="user" href="http://blip.pl/users/{{username}}/dashboard">{{username}}</a>
      </span>
      {{#recipientname}}
        <span class="arrow">{{msg_arrow}}</span>
        <span class="recipient">
          <a class="recipient" data-action="user" data-username="{{recipientname}}" href="http://blip.pl/users/{{recipientname}}/dashboard">{{recipientname}}</a>
        </span>
      {{/recipientname}}
      <br />
      <span>{{{body}}}</span>
      {{#picture}}
      <br/>
      <span class="pic"><input type="image" src="{{picture_thumb}}" data-action="picture" data-url="{{picture}}" /></span>
      {{/picture}}
    </div>
  </div>
  <div class="side">
    <span class="created_at">
      <a data-action="link" data-url="{{blip_url}}" href="{{blip_url}}" title="{{created_at}}">{{created_at}}</a>
    </span>
    <div class="meta">
      &nbsp;
      <span class="transport">{{transport}}</span>
    </div>
    <div class="actions">
		<input id="quote" title="Cytuj" type="image" src="assets/dot.png" data-action="quote" data-url="{{blip_url}}" />
      {{^is_own}}	  
        <input id="quoteMessage" title="Cytuj z wiadomością" type="image" src="assets/dot.png" data-action="message" data-messagestring="{{message_string}} {{blip_url}} "  />
        <input id="message" title="Wiadomość" type="image" src="assets/dot.png" data-action="message" data-messagestring="{{message_string}}"  />
		{{#show_like}}
		<input id="like" title="Polub" type="image" src="assets/dot.png" data-action="like" data-blipid="{{id}}" />		
			({{likes_count}})
		{{/show_like}}
      {{/is_own}}
      {{#is_own}}
        <input id="delete" title="Usuń" type="image" src="assets/dot.png" data-action="delete" data-blipid="{{id}}" />
      {{/is_own}}
    </div>
  </div>
</div>
